@font-face {
  font-family:"8bitoperator JVE";
  src:url("../fonts/8bitoperator_jve.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}

#buttons {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    margin: 20px auto;
}

@media only screen and (max-width: 600px) {
  #buttons {
    grid-auto-flow: dense;
  }
}

button {
    width: 150px;
    height: 60px;
    margin: 2px 20px;
    font-family: '8bitoperator JVE';
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 18pt;
}

button:hover {
    color: yellow;
    cursor: pointer;
}

#selectedbutton {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}