@font-face {
  font-family:"8bitoperator Regular";
  src:url("../fonts/8bitoperator.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}

#buttons {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    margin: 20px auto;
}

button {
    width: 150px;
    height: 60px;
    margin: auto 20px;
    font-family: '8bitoperator Regular';
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 12pt;
}

button:hover {
    color: yellow;
    cursor: pointer;
}

#selectedbutton {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}