.errorMessage {
    background-color: rgba(0, 0, 255, 0.4);
    width: 50%;
    margin: auto;
    padding: 20px;
}

.dogcheckimg {
    margin: auto;
    width: 40%;
}

h1, h2 {
    color: white;
    font-weight: normal;
    margin: auto;
    text-align: center;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    margin-bottom: 20px;
}

h1 {
    font-size: 35pt;
}

h2 {
    font-size: 25pt;
    margin-right: 100px;
    margin-left: 100px;
}

@media only screen and (max-width: 600px) {
    .errorMessage {
        width: 85%
    }

    h2 {
        margin-right: 20px;
        margin-left: 20px;
    }
}