#leaderboard {
    overflow: auto;
    margin: 20px auto;
    table-layout: fixed;
    width: 60%;
    text-align: center;
    border-collapse: collapse;
    color: white;
    font-size: 18pt;
    border: 2px solid white;
}

td {
    padding: 7px 5px;
}

tr {
    background-color: rgba(11, 57, 117, 0.8);
    cursor: pointer;
}

tr:hover {
    background-color: rgba(60, 130, 187, 0.8);
}

tr:nth-child(even) {
    background-color: rgba(21, 81, 160, 0.8);
}

tr:nth-child(even):hover {
    background-color: rgba(60, 130, 187, 0.8);
}

.eliminated  {
    background-color: rgba(184, 15, 15, 0.8);
    cursor: default;
}

.eliminated:nth-child(even) {
    background-color: rgba(235, 38, 38, 0.8);
}

.eliminated:hover  {
    background-color: rgba(184, 15, 15, 0.8);
}

.eliminated:nth-child(even):hover {
    background-color: rgba(235, 38, 38, 0.8);
}

#header {
    background-color: rgba(11, 57, 117, 0.8);
}


th {
    cursor: default;
    padding: 10px 5px;
    font-weight: normal;
    font-size: 20pt;
}

.position {
    width: 30px;
}

.player {
    min-width: 200px;
    text-align: left;
    padding-left: 5px;
}

.hits {
    width: 60px;
}

@media only screen and (max-width: 600px) {
  #leaderboard {
    font-size: 12pt;
    width: 95%;
  }

  th {
    font-size: 12pt;
  }

  td {
    padding: 0 auto;
  }

  .position {
    width: 15px;
  }

  .hits {
    width: 30px;
}
}