#leaderboard {
    overflow: auto;
    margin: 20px auto;
    table-layout: fixed;
    width: 50%;
    text-align: center;
    border-collapse: collapse;
    color: white;
    font-size: 18pt;
    border: 2px solid white;
}

td {
    padding: 7px 5px;
}

tr {
    cursor: pointer;
}

.allowed {
    background-color: rgba(11, 57, 117, 0.8);
}

.allowed:hover {
    background-color: rgba(60, 130, 187, 0.8);
}

.allowed:nth-child(even) {
    background-color: rgba(21, 81, 160, 0.8);
}

.allowed:nth-child(even):hover {
    background-color: rgba(60, 130, 187, 0.8);
}

.eliminated  {
    background-color: rgba(184, 15, 15, 0.8);
    cursor: pointer;
}

.eliminated:hover  {
    background-color: rgba(220, 76, 76, 0.8);
}

.eliminated:nth-child(even) {
    background-color: rgba(235, 38, 38, 0.8);
}

.eliminated:nth-child(even):hover {
    background-color: rgba(234, 80, 80, 0.8);
}

.first_place {
    background-color: rgba(226, 212, 18, 0.8);
}

.second_place {
    background-color: rgba(141, 141, 141, 0.8);
}

.third_place {
    background-color: rgba(165, 81, 42, 0.8);
}

#header {
    background-color: rgba(11, 57, 117, 0.8);
}

tr img {
    width: 100%;
    height: 100%;
    margin: 0;
}

th {
    cursor: default;
    padding: 10px 5px;
    font-weight: normal;
    font-size: 20pt;
}

.position {
    width: 30px;
}

.player {
    min-width: 200px;
    text-align: left;
    padding-left: 5px;
}

.hits {
    width: 60px;
}

@media only screen and (max-width: 600px) {
  #leaderboard {
    font-size: 12pt;
    width: 95%;
  }

  th {
    font-size: 12pt;
  }

  td {
    padding: 0 auto;
  }

  .position {
    width: 15px;
  }

  .hits {
    width: 30px;
  }

  tr img {
    width: 120%;
    height: 120%;
    max-height: 20px;
  }
}