#leaderboard {
    overflow: auto;
    margin: 20px auto;
}

td {
    min-width: 100px;
    border: 1px black solid;
}

.position {
    width: 10px;
    padding: 5px;
}

#player {
    min-width: 200px;
    text-align: left;
    padding-left: 5px;
}